<html>
<head>
		
</head>
<body>
	<h1>Caesar Cipher</h1>
	<form action="/">
		<label for="word">Input a word:</label>
		<input type="text" name="word">
		<br>
		<label for="shift">Enter a number to shift the words</label>
		<input type="text" name="shift">
		<br>
		<input type="submit" name="word!">
	</form>
	<p>Your word is <%= @word %></p>
	<p>Your ciphered word is <%= @ciphered_word %></p>
</body>
</html>